<div id="landingPage">

<div id="introContent">
<div class="container text-center">
<div class="row flex-lg-row">
    <div class="col-sm">
    <div id="landingName">
        Gustas Janušauskas
    </div>
    <div id="landingSubtitle">
        Web Developer
    </div>
    </div>
    <div class="col-sm">
    </div>
</div>
</div>
</div>

<div id="aboutSection">
<div class="container">
<div class="row flex-lg-row">
    <div class="col-sm">
        <img src="assets/headshot.jpg" class="headshot">
        <br><br>
    </div>
    <div class="col-sm">
        <h1>About me</h1>
        <p class="aboutText">
            Hello! I am a web developer currently focusing on front-end development. I most frequently work with Angular, Bootstrap, NodeJS, PostgreSQL and Git. I am also proficient in full-stack development.
            <br><br>
            I am currently a second-year Information Systems student at Vilniaus Kolegija/University of Applied Sciences. I also self-study software development and am quick to pick up new concepts.
            <br><br>
            Lately I've been learning more about the Android SDK, Kotlin and practising unit testing. When I'm not programming or studying I enjoy spending time with friends, composing music, weightlifting, and hiking.
        </p>
    </div>
</div>
</div>
</div>

<div id="projectsSection">
<div class="container">
    <h1>Projects I've worked on</h1>
    <br>
    <div class="projectsInner row">
        <div class="projectDiv col-md-6" *ngFor="let project of projects">
            <div [id]="'carousel' + project.id" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let image of project.images" [attr.data-bs-interval]="project.carouselSpeed" [ngClass]="project.images.indexOf(image) == 0 ? 'active' : ''">
                        <img [src]="image.path" class="d-block projectImage">
                        <div class="carousel-caption d-none d-md-block">
                            <p>{{image.caption}}</p>
                        </div>                    
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + project.id" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + project.id" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>                
            </div>
            <br><br>
            <div class="projectDetails">
                <h2 class="projectTitle">{{project.title}}</h2>
                <p class="projectDescription">{{project.description}}</p>
                <sub class="projectTools">{{project.tools}}</sub><br><br>
                <a class="btn btn-primary text-white" [href]="project.link" target="_blank" *ngIf="project.link">{{project.projectType ? 'View ' + project.projectType : 'View code'}}</a>
            </div>
            <br><br>
        </div>
    </div>
</div>
</div>

<div id="contactSection">
    <div class="container">
        <div class="contactForm">
            <div class="text-center">
                <h2>You can contact me at <a href="mailto:gustasjanusauskas@gmail.com" class="contactLink">gustasjanusauskas@gmail.com</a></h2>
            </div>
        </div>
    </div>
</div>

<br><br>
<div class="text-center">
    <a href="#">
        <img class="scrollUpArrow" src="assets/uparrow.png">
    </a>
</div>
<br><br>

</div>