<div class="landingPage">

<div class="introContent">
<div class="container text-center">
<div class="row flex-lg-row">
    <div class="col-6">
    <div id="landingName">
        Gustas Janušauskas
    </div>
    <div id="landingSubtitle">
        Web Developer
    </div>
    </div>
    <div class="col-4"></div>
</div>
</div>
</div>

<div class="aboutSection">
<div class="container">
<div class="row flex-lg-row">
    <div class="col-5">
        <img src="assets/Headshot.jpg" class="headshot">
    </div>
    <div class="col-5">
        <h1>About me</h1>
        <p>
            Description here.
        </p>
    </div>
</div>
</div>
</div>

</div>