@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@keyframes bottomUpFade {
    0% {
        opacity: 0%;
        transform: translateY(100%);
    }
    100% {
        opacity: 100%;
        transform: none;
    }
}

.headshot {
    display: block;
    margin: auto;
    width: 66%;

    border-radius: 50%;
}

.aboutSection {
    border-top: 2px solid var(--accent-colour);
    padding: 5rem 0 5rem 0;

    background: linear-gradient(0deg, rgba(78,78,78,1) 0%, rgba(83,165,223,0.5) 100%);
}

.projectsSection {
    text-align: center;
}

.introContent {
    background-image: url('images/background.svg');
    background-size: cover;
    background-color: var(--navbar-colour);

    padding-top: 15%;
    padding-bottom: calc(28% - 6.5rem);
}

#landingName {
    font-size: 3rem;
    animation-name: bottomUpFade;
    animation-duration: 1s;
}

#landingSubtitle {
    font-size: 2rem;

    opacity: 0%;
    animation-name: bottomUpFade;
    animation-duration: 1s;
    animation-delay: .75s;
    animation-fill-mode: forwards;
}

@media only screen and (min-width: 975px) {
    #landingName {
        font-size: 4rem;
    }

    #landingSubtitle {
        font-size: 2rem;
    }
}