<div class="landingPage">

<div class="introContent">
<div class="container text-center">
<div class="row flex-lg-row">
    <div class="col-6">
    <div id="landingName">
        Gustas Janušauskas
    </div>
    <div id="landingSubtitle">
        Web Developer
    </div>
    </div>
    <div class="col-4"></div>
</div>
</div>
</div>

<div class="aboutSection">
<div class="container">
<div class="row flex-lg-row">
    <div class="col-5">
        <img src="assets/headshot.jpg" class="headshot">
    </div>
    <div class="col-5">
        <h1>About me</h1>
        <p>
            Hi! I am a web developer focusing on front-end development, with a working proficiency in a full-stack environment. I most frequently work with Angular, Bootstrap, NodeJS and PostgreSQL.
            <br><br>
            Lately I've been learning more about Bootstrap, Angular modules and experimenting with the .NET ecosystem. When I'm not programming or studying I enjoy spending time with friends, training, and hiking.
        </p>
    </div>
</div>
</div>
</div>

</div>