:root {
    --text-colour: white;
    --navbar-colour: #212529;
    --accent-colour: #53a5df;
    --accent-colour-light: #a9d2ef;

    --bg-colour: #4e4e4e;
}

body {
    background-color: var(--bg-colour);

    color: var(--text-colour);
    font-family: 'Quicksand', sans-serif;
}