$primary: #53a5df;
$secondary: #a9d2ef;

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    --text-colour: white;
    --navbar-colour: #212529;
    --accent-colour: #53a5df;
    --accent-colour-light: #a9d2ef;

    --bg-colour: #4e4e4e;
    --bg-accent-colour: #686868;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-colour);

    color: var(--text-colour);
    font-family: 'Quicksand', sans-serif;
}