<div id="contactSection">
    <div class="container">
        <div class="contactForm">

            <div class="text-center">
                <h1>Contact me here!</h1>
            </div>
            <br>
            
            <div class="row">
                <div class="col mb-3">
                    <input type="text" class="form-control" id="contactFormInputName" placeholder="Please enter your name here.." [(ngModel)]="name" required #nameForm="ngModel">
                    <div class="contactFormErrorText" *ngIf="nameForm.invalid && (nameForm.dirty || nameForm.touched) && nameForm.errors?.['required']">
                        Please provide a name.
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="contactFormInputEmail" placeholder="Please enter your email here.." [(ngModel)]="email" required #emailForm="ngModel">
                    <div class="contactFormErrorText" *ngIf="emailForm.invalid && (emailForm.dirty || emailForm.touched) && emailForm.errors?.['required']">
                        Please provide an email.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="contactFormInputSubject" placeholder="Please enter your subject here.." [(ngModel)]="subject" required #subjectForm="ngModel">
                <div class="contactFormErrorText" *ngIf="subjectForm.invalid && (subjectForm.dirty || subjectForm.touched) && subjectForm.errors?.['required']">
                    Please provide a subject for the message.
                </div>
            </div>

            <div class="mb-3">
                <textarea class="form-control" id="contactFormInputMessage" rows="6" placeholder="Please enter your message here.." [(ngModel)]="body" required #bodyForm="ngModel"></textarea>
                <div class="contactFormErrorText" *ngIf="bodyForm.invalid && (bodyForm.dirty || bodyForm.touched) && bodyForm.errors?.['required']">
                    Please provide a message body.
                </div>
            </div>

            <button type="button" class="btn btn-primary text-white" (click)="submitMessage()" [disabled]="nameForm.invalid || emailForm.invalid || subjectForm.invalid || bodyForm.invalid">Send message</button>
        </div>
    </div>
</div>