.contactForm {
    background-color: var(--bg-accent-colour);
    padding: 2rem;
    border-radius: 2rem;
}

.contactFormErrorText {
    color: var(--accent-colour-light);
}

/* Forms */
.ng-untouched {
    border-left: 6px solid white !important;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 6px solid var(--accent-colour-light);
}
  
.ng-invalid:not(form)  {
    border-left: 6px solid #ac4745;
}